<h3 class="text-center" style="color: #0aa89e; margin-top:5px;">Reportes de Cortes de Tickets de General Especiales</h3>
<div class="section-body">
    <div class="row">
        <div class="col-md-4">
            <div class="card panel" style="height:90%;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <span class="form-control">Seleccione la opción del reporte</span>
                        <select class="form-control"
                            ng-model="$ctrl.selectedMenu"
                            ng-change="$ctrl.menuChange()"
                            ng-options="v.Nombre for v in $ctrl.selectMenu track by v.Clv_Vendedor"></select>
                    </div>
                </div>
                <div class="row" ng-show="$ctrl.showMenus">
                    <div class="card-body">
                    <button type="button" class="btn btn-primary btn-block btn-sm" disabled style="color:black;">Catalogo de {{ $ctrl.selectedMenu.Nombre }}</button>
                    <button type="button" ng-repeat="x in $ctrl.subMenu" class="btn btn-block ink-reaction btn-flat btn-primary btn-block btn-sm" ng-click="$ctrl.secuenciaReporte(x.Reporte)">{{ x.Reporte }}</button>
                    </div>
                </div>
                <div class="row" ng-show="$ctrl.showMenus">
                    <div class="col-md-10 col-md-offset-1 card">
                        <span>Ordenar Reporte Por:</span><br>
                        <label class="checkbox-inline checkbox-styled">
                            <input type="checkbox"  ng-model="$ctrl.ordenarStatus"><span>Status</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row" ng-show="$ctrl.showGeneral">
                <div class="card" style="padding-left:20px; padding-right:20px;">
                    <h4 class="text-center" style="color: #0aa89e; margin-top:5px;">Selección General</h4>
                    <multi-select options="$ctrl.sucursalesObj"></multi-select>
                    <br/>
                    <p>
                        <button class="btn btn-default pull-left" ng-click="$ctrl.cancel()">Cancelar</button>
                        <button class="btn btn-primary pull-right" ng-click="$ctrl.okSucursales()">Aceptar</button>
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row" ng-show="$ctrl.showSucursales">
                <div class="card" style="padding-left:20px; padding-right:20px;">
                    <h4 class="text-center" style="color: #0aa89e; margin-top:5px;">Selección por Sucursal</h4>
                    <multi-select options="$ctrl.sucursalesObj"></multi-select>
                    <br/>
                    <p>
                        <button class="btn btn-default pull-left" ng-click="$ctrl.cancel()">Cancelar</button>
                        <button class="btn btn-primary pull-right" ng-click="$ctrl.okSucursales()">Aceptar</button>
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row" ng-show="$ctrl.showGeneralFacturas">
                <div class="card" style="padding-left:20px; padding-right:20px;">
                    <h4 class="text-center" style="color: #0aa89e; margin-top:5px;">Selección General de Facturas Fiscales</h4>
                    <multi-select options="$ctrl.sucursalesObj"> </multi-select>
                    <br/>
                    <p>
                        <button class="btn btn-default pull-left" ng-click="$ctrl.cancel()">Cancelar</button>
                        <button class="btn btn-primary pull-right" ng-click="$ctrl.okSucursales()">Aceptar</button>
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row" ng-show="$ctrl.showGeneralDate">
                <div class="card" style="padding-left:20px; padding-right:20px;">
                    <h4 class="text-center" style="color: #0aa89e; margin-top:5px;">Fechas del Reporte</h4>
                    <div class="col-md-6 col-md-offset-1">
                        <div class="col-md-9">
                            <label class="form-control">Fecha Inicial del Reporte</label>
                            <input type="date" id="finicial" date-input class="form-control" ng-model="$ctrl.fechaInicio">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-9">
                            <label class="form-control">Fecha Final del Reporte</label>
                            <input type="date" id="ffinal" date-input class="form-control" ng-model="$ctrl.fechaFinal">
                        </div>
                    </div>
                    <div class="row" ng-show="$ctrl.showResumen">
                        <div class="col-md-4 col-md-offset-5" style="margin-top: 20px;">
                            <label class="checkbox-inline checkbox-styled">
                                <input type="checkbox" ng-model="$ctrl.resumen"><span>Resumen</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <br><br><br>
                        <p style="padding-top: 40px; padding-left: 30px; padding-right: 30px;">
                            <button class="btn btn-default pull-left" ng-click="$ctrl.backFechaGeneral()">Atras</button>
                            <button class="btn btn-primary pull-right" ng-click="$ctrl.generarReporte($ctrl.secuencia, $ctrl.resumen)">Aceptar</button>
                        </p>
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="$ctrl.showReporte">
              <div style="padding-left:10px; padding-right: 10px;">
                  <iframe  id="reporteID" style="width: 100%; height: 800px;"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
