<h3 class="text-center" style="color: #0aa89e; margin-top:5px;">Reporte de Cortes de Tickets</h3>
<div class="section-body">
	<div class="row">
		<div class="col-md-4">
			<div class="card panel" style="height:90%;">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
					    <span class="form-control">Seleccione la opción del reporte</span>
						<select class="form-control"
							ng-model="$ctrl.selectedMenu"
							ng-change="$ctrl.menuChange()"
							ng-options="v.Nombre for v in $ctrl.selectMenu track by v.Clv_Vendedor"></select>
					</div>
				</div>
				<div class="row" ng-show="$ctrl.showMenus">
					<div class="card-body">
					<button type="button" class="btn btn-primary btn-block btn-sm" disabled style="color:black;">Catalogo de {{ $ctrl.selectedMenu.Nombre }}</button>
					<button type="button" ng-repeat="x in $ctrl.subMenu" class="btn btn-block ink-reaction btn-flat btn-primary btn-block btn-sm" ng-click="$ctrl.secuenciaReporte(x.Reporte)">{{ x.Reporte }}</button>
				</div>
				</div>
				<div class="row" ng-show="$ctrl.showMenus">
					<div class="col-md-12">
						<center>
							<span>Ordenar Reporte Por:</span><br>
						    <label class="checkbox-inline checkbox-styled">
				                <input type="checkbox" ng-model="$ctrl.ordenarStatus"><span>Status</span>
				            </label><br>
						</center>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row" ng-show="$ctrl.showReporte">
				<div class="card" style="padding-left:20px; padding-right:20px; padding-top:10px; height:600px;">
					<iframe id="reporteID" style="width:100%; height:100%;"></iframe>
				</div>
			</div>
			<div class="row" ng-show="$ctrl.showPlazas">
				<div class="card" style="padding-left:20px; padding-right:20px;">
					<h4 class="text-center" style="color: #0aa89e; margin-top:5px;">Selección Plaza</h4>
		   			<multi-select options="$ctrl.plazasObj"> </multi-select>
		   			<br/>
				    <p>
		 				<button class="btn btn-default pull-left" ng-click="$ctrl.backPlazas()">Atras</button>
				    	<button class="btn btn-primary pull-right" ng-click="$ctrl.okPlazas()">Aceptar</button>
				    </p>
				    <hr/>
	   			</div>
			</div>
			<div class="row" ng-show="$ctrl.showDistribuidores">
				<div class="card" style="padding-left:20px; padding-right:20px;">
					<h4 class="text-center" style="color: #0aa89e; margin-top:5px;">Selección Distribuidor</h4>
		   			<multi-select options="$ctrl.distribuidoresObj"> </multi-select>
		   			<br/>
				    <p>
		 				<button class="btn btn-default pull-left" ng-click="$ctrl.cancelarPanel()">Cancelar</button>
				    	<button class="btn btn-primary pull-right" ng-click="$ctrl.okDistribuidores()">Aceptar</button>
				    </p>
				    <hr/>
	   			</div>
			</div>
			<div class="row" ng-show="$ctrl.showGeneralDate">
				<div class="card" style="padding-left:20px; padding-right:20px;">
					<h4 class="text-center" style="color: #0aa89e; margin-top:5px;">Fechas del Reporte</h4>
		   			<div class="col-md-6 col-md-offset-1">
		   				<div class="col-md-9">
		   					<label class="form-control">Fecha Inicial del Reporte</label>
			   				<input type="date" id="test_date" date-input class="form-control" ng-model="$ctrl.fechaInicio">
			   			</div>
		   			</div>
		   			<div class="col-md-5">
		   				<div class="col-md-9">
		   					<label class="form-control">Fecha Final del Reporte</label>
			   				<input type="date" id="ffinal" date-input class="form-control" ng-model="$ctrl.fechaFinal">
			   			</div>
		   			</div>
		   			<div class="row" ng-show="$ctrl.showEscojeCaja">
		   				<br><br>
		   				<div class="col-md-4 col-md-offset-4" style="margin-top: 20px;">
		   					<label class="form-control">Escoje tu Caja</label>
		   					<select id="cajasSelect" class="form-control"
								ng-model="$ctrl.selectedCaja"
								ng-options="v.NOMBRE for v in $ctrl.cajas track by v.CLV_USUARIO"></select>
		   				</div>
		   			</div>
		   			<div class="row" ng-show="$ctrl.showEscojeCajero">
		   				<br><br>
		   				<div class="col-md-4 col-md-offset-4" style="margin-top: 20px;">
		   					<label class="form-control">Escoje tu Cajero(a)</label>
		   					<select id="usuarioSelect" class="form-control"
								ng-model="$ctrl.selectedUsuario"
								ng-options="v.NOMBRE for v in $ctrl.usuarios track by v.CLV_USUARIO"></select>
		   				</div>
		   			</div>
		   			<div class="row" ng-show="$ctrl.showEscojeSucursal">
		   				<br><br>
		   				<div class="col-md-4 col-md-offset-4" style="margin-top: 20px;">
		   					<label class="form-control">Escoje el nombre de la Sucursal</label>
		   					<select id="sucursalSelect" class="form-control"
								ng-model="$ctrl.selectedSucursal"
								ng-options="v.NOMBRE for v in $ctrl.sucursales track by v.CLV_SUCURSAL"></select>
		   				</div>
		   			</div>
		   			<div class="row" ng-show="$ctrl.showEscojeVendedor">
		   				<br><br>
		   				<div class="col-md-4 col-md-offset-4" style="margin-top: 20px;">
		   					<label class="form-control">Escoje el Vendedor</label>
		   					<select id="vendedorSelect" class="form-control"
								ng-model="$ctrl.selectedVendedor"
								ng-options="v.Nombre for v in $ctrl.vendedores track by v.Clv_Vendedor"></select>
		   				</div>
		   			</div>
		   			<div class="row" ng-show="$ctrl.showResumen">
		   				<div class="col-md-4 col-md-offset-5" style="margin-top: 20px;">
		   					<label class="checkbox-inline checkbox-styled">
		                        <input type="checkbox" ng-model="$ctrl.resumen"><span>Resumen</span>
		                    </label>
		   				</div>
		   			</div>
		   			<div class="row">
		   				<br><br><br>
		   				<p style="padding-top: 40px; padding-left: 30px; padding-right: 30px;">
		 					<button class="btn btn-default pull-left" ng-click="$ctrl.backFechaGeneral()">Atras</button>
				    		<button class="btn btn-primary pull-right" ng-click="$ctrl.generarReporte()">Aceptar</button>
				    	</p>
				    	<hr/>
		   			</div>
				</div>
			</div>
		</div>
	</div>

</div>
