<div class="card" style=" margin-top:30px; padding-left:30px; padding-right:30px;">
  <form action="#" id="forma" name="forma">
    <div class="card-head" style="">
      <div class="col-md-6">
        <header>
          <div>
            <strong style="font-weight:bold; border:none; color: #0aa89e; font-size: 20px;">Permisos</strong>
          </div>
        </header>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <div class="btn-group">
          Selecciona un rol para asignar permisos:
          <select class="selectpicker form-control" ng-model="Rol" ng-options="option.Nombre for option in $ctrl.Roles track by option.IdRol">
                        <option value="">Selecciona Rol</option>

                    </select><br />
        </div>
      </div>
    </div>
    <table class="table" style="padding-letf:15px; padding-left:15px;" id="datos">
      <thead style="color: #0aa89e;">
        <tr>
          <th>Módulo</th>
          <th>Consultar</th>
          <th>Agregar</th>
          <th>Editar</th>
          <th>Eliminar</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in $ctrl.Modules">
          <td ng-if="x.ParentId == null"><b>{{x.Description}}</b></td>
          <td ng-if="x.ParentId != null && x.tipo==2">{{x.Description}}</td>
          <td ng-if="x.ParentId != null && x.tipo==4"><i><b>{{x.Description}}</b></i></td>
          <td ng-if="x.ParentId != null && x.tipo==3"><i class="md-chevron-right"></i> <i>{{x.Description}}</i></td>

          <td>
            <div ng-if="x.ParentId != null"><label class="checkbox-inline checkbox-styled"><input type="checkbox" ng-model="x.OptSelect"><span></span></label></div>
          </td>
          <td>
            <div ng-if="x.ParentId != null"><label class="checkbox-inline checkbox-styled"><input type="checkbox"  ng-model="x.OptAdd"><span></span></label></div>
          </td>
          <td>
            <div ng-if="x.ParentId != null"><label class="checkbox-inline checkbox-styled"><input type="checkbox" ng-model="x.OptUpdate"><span></span></label></div>
          </td>
          <td>
            <div ng-if="x.ParentId != null"><label class="checkbox-inline checkbox-styled"><input type="checkbox"  ng-model="x.OptDelete"><span></span></label></div>
          </td>

        </tr>
      </tbody>
    </table>
    <div class="modal-footer" permission permission-only="'permisosUpdate'">
      <button type="button" ng-click="$ctrl.GuardaPermisos();" class="btn btn-primary ink-reaction" style="padding"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
    </div>
  </form>
</div>
