<div class="card" style="margin-top:30px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong class="text-primary" style="font-weight:bold; border:none; margin-left:10px;">Roles</strong>

    </header>
    <div class="tools">
      <div class="btn-group">


      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="col-md-12" style="padding-left: 25px; padding-right: 25px;">



      <table class="table">
        <thead>
          <tr>
            <th>#Rol</th>
            <th>Rol</th>
            <th>Activo</th>

          </tr>
        </thead>
        <tbody>
          <tr ng-show="$ctrl.sinDatos">
            <td colspan="3">
              <p class="text-center">No se encontraron datos</p>
            </td>
          </tr>
          <tr dir-paginate="x in $ctrl.Roles | itemsPerPage:5">
            <td>{{ x.IdRol }}</td>
            <td>{{ x.Nombre }}</td>
            <td ng-if=" x.Estado==true">
              <button type="button" class="btn ink-reaction btn-floating-action btn-success btn-xs"><i class="fa fa-check"></i></button>
            </td>
            <td ng-if=" x.Estado==false">
              <button type="button" class="btn ink-reaction btn-floating-action btn-danger btn-xs"><i class="fa fa-check"></i></button>
            </td>

            <td>
              <button class="btn ink-reaction btn-floating-action btn-xs btn-info" ng-click="$ctrl.detalle(x)"><i class="fa fa-eye"></i></button>

            </td>
          </tr>
        </tbody>
      </table>
      <div style="padding-left: 20px;" ng-show="$ctrl.showPaginator">
        <dir-pagination-controls max-size="8" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
      </div>
    </div>
  </div>

</div>
