<style type="text/css">
	.scrollDiv {
		height: 100px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<h3 class="text-center" style="color: #0aa89e; margin-top:5px;">Detalle De Atención Telefónica</h3>
		<h3 style="color: #0aa89e;"><a ui-sref="home.procesos.atencion"><i class="fa fa-chevron-left"></i> Atras</a></h3>
	</div>
	<div class="col-md-12 card panel">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<strong class="col-md-1 col-md-offset-1" style="margin-top: 10px;">#Llamada:</strong>
					<div class="form-group">
						<div class="col-md-3">
							<input id="textinput" name="textinput" type="text" class="form-control input-md">
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: -20px;">
					<br>
					<strong class="col-md-2 col-md-offset-1" style="margin-top: 10px;">Tipo de Servicio:</strong>
					<div class="form-group">
						<div class="col-md-6">
							<select class="form-control input-md"></select>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: -20px;">
					<br>
					<strong class="col-md-2 col-md-offset-1">Tipo de Atención:</strong>
					<div class="form-group">
						<div class="col-md-2">
							<label class="radio-inline radio-styled">
				            <input type="radio" name="atencion"><span>Via Telefónica</span>
				        </label><br>
						</div>
						<div class="col-md-2">
							<label class="radio-inline radio-styled">
				            <input type="radio" name="atencion"><span>En el Sitio</span>
				        </label><br>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: -20px;">
					<br>
					<strong class="col-md-1 col-md-offset-1" style="margin-top: 10px;">Contrato:</strong>
					<div class="form-group">
						<div class="col-md-3">
							<input type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: -20px;">
					<br/>
					<div class="panel-group col-md-8 col-md-offset-1" id="datosCliente">
						<div class="card panel">
							<div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#datosCliente" data-target="#datosCliente-1" aria-expanded="false" ng-click="ctrl.showDatosCliente = !ctrl.showDatosCliente">
								<header ng-show="ctrl.showDatosCliente">Datos del Cliente</header>
								<div class="tools">
									<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
								</div>
							</div>
							<div id="datosCliente-1" class="collapse datosCliente" aria-expanded="false" style="height: 0px;">
								<div class="col-md-12">
									<h4>Datos del Cliente</h4>
									<p><strong>Nombre:</strong><br>
										<strong>Dirección:</strong><br>
										<strong>Colonia:</strong><br>
										<strong>#</strong><br>
										<strong>Telefóno:</strong></p>
									<strong class="col-md-4" style="margin-left: -15px;">Servicos Asignados:</strong>
									<div class="form-group">
										<div class="col-md-8 scrollDiv" style="background-color: #E2EBEA;">

										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end .panel -->
					</div>
				</div>
				<div class="row" style="margin-top: -20px;">
					<br>
					<div class="col-md-8 col-md-offset-1">
						<div class="col-md-6" style="margin-left: -20px;">
							<strong class="col-md-4">Hora Inicial:</strong>
							<div class="form-group">
								<div class="col-md-8">
									<input type="text" class="form-control" disabled="">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<strong class="col-md-4">Fecha:</strong>
							<div class="form-group">
								<div class="col-md-8">
									<input type="text" class="form-control" disabled="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: -20px;">
					<br>
					<strong class="col-md-2 col-md-offset-1" style="margin-top: 10px;">Reporte del Cliente:</strong>
					<div class="form-group">
						<div class="col-md-6">
							<textarea class="form-control"></textarea>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: -20px;">
					<br>
					<strong class="col-md-2 col-md-offset-1" style="margin-top: 10px;">Clasificación del Problema:</strong>
					<div class="form-group">
						<div class="col-md-4">
							<select class="form-control"></select>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: -20px;">
					<br>
					<strong class="col-md-2 col-md-offset-1" style="margin-top: 10px;">Problema Real:</strong>
					<div class="form-group">
						<div class="col-md-6">
							<textarea class="form-control"></textarea>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: -20px;">
					<br>
					<strong class="col-md-2 col-md-offset-1" style="margin-top: 10px;">Clasificación de la Solución:</strong>
					<div class="form-group">
						<div class="col-md-4">
							<select class="form-control"></select>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4" style="margin-left: -100px; margin-top: 50px;">
				<button type="button" class="btn btn-default-bright btn-block">Generar Reporte</button>
				<button type="button" class="btn btn-default-bright btn-block" ng-click="$ctrl.abrirPagos()">Historial de Pagos</button>
				<button type="button" class="btn btn-default-bright btn-block" ng-click="$ctrl.abrirReportes()">Historial Reportes</button>
				<button type="button" class="btn btn-default-bright btn-block">Consultar Cobro</button>
			</div>
			<div class="col-md-12">
				<p class="text-right">
				</p>
			</div>
		</div>
	</div>

</div>
