<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>
<h3 class="text-center" style="color: #0aa89e; margin-top:5px;">Atención Telefónica</h3>
<div class="section-body">
	<div class="row">
		<div class="col-md-3">
			<div class="card panel scrollDiv">
				<h4 class="text-center">Busqueda</h4>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<label class="form-control">Plaza</label>
						<select id="idplaza" ng-change="$ctrl.cambioPlaza()" class="form-control" ng-model="$ctrl.selectedPlaza" ng-options="v.razon_social for v in $ctrl.plazas track by v.id_compania"></select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<strong>Tipo de Servicio</strong>
						<select class="form-control" ng-model="$ctrl.selectedServicio" ng-options="v.Concepto for v in $ctrl.servicios track by v.Clv_TipSerPrincipal"></select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<strong>Ver Por</strong>
						<label class="checkbox-inline checkbox-styled">
				            <input type="checkbox"><span>Llamadas que generaron reporte</span>
				        </label><br>
						<label class="checkbox-inline checkbox-styled">
				            <input type="checkbox"><span>Llamadas sin reporte</span>
				        </label><br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<strong>Usuario</strong>
						<select class="form-control" id="idusuario" ng-model="$ctrl.selectedUsuario" ng-options="v.NOMBRE for v in $ctrl.usuarios track by v.Clave"></select>
					</div>
					<div class="col-md-10 col-md-offset-1">
						<p class="text-right">
							<button class="btn btn-primary btn-xs" ng-click="$ctrl.bucarUsuario()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-1">
						<strong># Reporte</strong>
						<input type="text" class="form-control" ng-model="$ctrl.reporte" ng-change="$ctrl.cambioReporte(1)" placeholder="Reporte">
					</div>
					<div class="col-md-4">
						<strong>Contrato</strong>
						<input type="text" class="form-control" ng-model="$ctrl.contrato" ng-change="$ctrl.cambioReporte(2)" placeholder="Contrato">
					</div>
					<div class="col-md-10 col-md-offset-1">
						<p class="text-right">
							<button class="btn btn-primary btn-xs" ng-click="$ctrl.buscarReporte()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<strong>Nombre</strong>
						<input type="text" class="form-control" ng-model="$ctrl.nombre">
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<strong>Apellido Paterno</strong>
						<input type="text" class="form-control" ng-model="$ctrl.paterno">
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<strong>Apellido Materno</strong>
						<input type="text" class="form-control" ng-model="$ctrl.materno">
					</div>
					<div class="col-md-10 col-md-offset-1">
						<p class="text-right">
							<button class="btn btn-primary btn-xs" ng-click="$ctrl.buscarNombres()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<strong>Colonia</strong>
						<select class="form-control" ng-model="$ctrl.selectedColonia" ng-options="v.nombre for v in $ctrl.colonias|orderBy:'nombre' track by v.clvColonia"></select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<strong>Calle</strong>
						<input type="text" class="form-control" ng-model="$ctrl.calle">
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<strong>Número</strong>
						<input type="text" class="form-control" ng-model="$ctrl.numero">
					</div>
					<div class="col-md-10 col-md-offset-1">
						<p class="text-right">
							<button class="btn btn-primary btn-xs" ng-click="$ctrl.buscarColonia()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 card panel scrollDiv">
			<div class="col-md-12" style="padding-left: 25px; padding-right: 25px;">
				<p class="text-right" style="margin-top: 10px;">
					 <a class="btn btn-success" ui-sref="home.procesos.atencionNueva"><i class="fa fa-plus" aria-hidden="true"></i> NUEVO</a>
				</p>
				<table class="table">
					<thead>
						<tr>
							<th>#Llamada</th>
							<th>Fecha</th>
							<th>Contrato</th>
							<th>Nombre</th>
							<th>Domicilio</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="$ctrl.atenciones.length == 0">
							<td class="text-center" colspan="6">SIN REGISTROS</td>
						</tr>
						<tr dir-paginate="x in $ctrl.atenciones|itemsPerPage:7" ng-if="$ctrl.atenciones.length > 0">
							<td>{{ x.llamada }}</td>
							<td>{{ x.FECHA }}</td>
							<td>{{ x.Contrato }}</td>
							<td>{{ x.NOMBRE }}</td>
							<td>{{ x.CALLE }} #{{ x.NUMERO}}</td>
							<td><button class="btn ink-reaction btn-floating-action btn-xs btn-info" ng-click="$ctrl.goTO()"><i class="fa fa-eye"></i></button> <button class="btn ink-reaction btn-floating-action btn-xs btn-warning" ng-click="$ctrl.editarEntrada(x.Consecutivo)"><i class="fa fa-edit"></i></button>								<button class="btn ink-reaction btn-floating-action btn-xs btn-danger" ng-click="$ctrl.eliminarEntrada(x.Consecutivo)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
						</tr>
					</tbody>
				</table>
				<div style="margin-top:-40px;">
		          <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.atenciones.length > 0">
		          </dir-pagination-controls>
		        </div>
			</div>
		</div>
	</div>
</div>
