<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
  <h4 class="modal-title">Buscar cliente</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
	<div class="section-body">
    <div class="row">
        <div class="col-md-3">
            <h4 class="text-center">Buscar cliente por:</h4>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="$ctrl.contrato" placeholder="Contrato">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-xs" ng-click="$ctrl.buscarContrato()">Buscar</button>
                        </span>
                    </div>
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" class="form-control" ng-model="$ctrl.nombre" placeholder="Nombre">
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" class="form-control" ng-model="$ctrl.paterno" placeholder="Apellido Paterno">
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" class="form-control" ng-model="$ctrl.materno" placeholder="Apellido Materno">
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <p class="text-right">
                        <button class="btn btn-primary btn-xs" ng-click="$ctrl.buscarNombres()">Buscar</button>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="text-muted" style="font-size: 17px;">Colonia</p>
                    <select class="form-control" ng-model="$ctrl.selectedColonia" ng-options="v.nombre for v in $ctrl.colonias|orderBy:'nombre' track by v.clvColonia"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" class="form-control" ng-model="$ctrl.calle" placeholder="Calle">
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" class="form-control" ng-model="$ctrl.numero" placeholder="Número">
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <p class="text-right">
                        <button class="btn btn-primary btn-xs" ng-click="$ctrl.buscarDomicilio()">Buscar</button>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" class="form-control" ng-model="$ctrl.setupbox" placeholder="Set Up Box">
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <p class="text-right">
                        <button class="btn btn-primary btn-xs" ng-click="$ctrl.buscarSetupbox()">Buscar</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
			<div class="col-md-12" style="padding-left: 25px; padding-right: 25px;">
				<table class="table">
					<thead>
						<tr>
							<th>Contrato</th>
                            <th>Nombre</th>
							<th>Apellido Paterno</th>
							<th>Apellido Materno</th>
							<th>Calle</th>
                            <th>Colonia</th>
							<th>Numero</th>
                            <th>Ciudad</th>
                            <th>Solo Internet</th>
                            <th>Es Hotel</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="$ctrl.sinRegistros">
							<td class="text-center" colspan="6">SIN REGISTROS</td>
						</tr>
						<tr dir-paginate="x in $ctrl.ordenes|itemsPerPage:7" ng-show="$ctrl.conRegistros">
							<td>{{ x.CONTRATO }}</td>
							<td>{{ x.Nombre }}</td>
							<td>{{ x.Apellido_Paterno }}</td>
							<td>{{ x.Apellido_Materno }}</td>
							<td>{{ x.CALLE }}</td>
							<td>{{ x.COLONIA }}</td>
							<td>{{ x.NUMERO }}</td>
							<td>{{ x.CIUDAD }}</td>
							<td><input type="checkbox" name="inlineRadioOptions" ng-value="{{ x.SOLOINTERNET }}" disabled></td>
							<td><input type="checkbox" name="inlineRadioOptions" ng-value="{{ x.ESHOTEL }}" disabled></td>
						</tr>
					</tbody>
				</table>
				<div style="margin-top:-40px;">
		          <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.ordenes.length > 0">
		          </dir-pagination-controls>
		        </div>
			</div>
		</div>
    </div>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-default-bright btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
  <button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.ok()">Aceptar</button>
</div>