<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
  <h4 class="modal-title"><i class="fa fa-thumb-tack"></i> Detalle de reporte # {{ctrl.Clv_Queja}}</h4>
</div>
<div class="modal-body" style="padding-top:20px;">

</div>
<div class="modal-footer">
  <button class="btn btn-default-bright btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
  <button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.ok()">Aceptar</button>
</div>
