<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
  <h4 class="modal-title"><i class="fa fa-money"></i> Bonificación de cliente</h4>
</div>
<div class="modal-body" style="padding-top:20px; padding:30px;">
  <div class="row">
    <div class="col-md-3">
      <b>Dias a bonificar</b>
      <input type="number" min="0" class="form-control input-sm" ng-model="ctrl.Dias">
    </div>
    <div class="col-md-3">
      <b>Cantidad</b>
      <input class="form-control input-sm" ng-model="ctrl.Cantidad" ng-disabled="true">
    </div>
    <div class="col-md-3">
      <b>Fecha</b>
      <input class="form-control input-sm" ng-model="ctrl.Fecha" ng-disabled="true">
    </div>
    <div class="col-md-3">
      <b>Ticket</b>
      <input class="form-control input-sm" ng-model="ctrl.Ticket" ng-disabled="true">
    </div>
  </div>
  <div class="row">
    <b>Comentario</b>
    <textarea class="form-control input-sm" ng-model="ctrl.Comentario"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default-bright btn-sm" type="button" ng-click="ctrl.Eliminar()">salir</button>
  <button class="btn btn-info btn-sm" type="button" ng-click="ctrl.ok()">Aceptar</button>
  <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.ok()">Eliminar bonificación</button>
</div>
