<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
  <h4 class="modal-title">Elimina Reporte # {{ctrl.Clv_Queja}}</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
  ¿Estas seguro de eliminar este reporte?
</div>
<div class="modal-footer">
  <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.Eliminar()">Eliminar</button>
  <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">Cerrar</button>
</div>
