<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>

<div class="card" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Ordenes de Servicio</strong>
			<br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Ordenes de Servicio</a></small>

		</header>
		<div class="tools">
			<div class="btn-group">
				<a class="btn btn-success btn-sm" ng-click="$ctrl.seleccionar(1,'nuevo')"> NUEVO</a>

			</div>
		</div>
	</div>
	<div class="card-body">

		<div class="panel-group" id="accordion3">
			<div class="card panel">
				<div class="card-head card-head-xs style-primary-light collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1"
				 aria-expanded="false">
					<header>Buscar orden de servicio</header>
					<div class="tools">
						<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
				<div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
					<div class="panel-body">
						<uib-tabset active="active">
							<uib-tab index="0" heading="Detalles">
								<br>
								<div class="col-md-4">
									<label class="text-muted">Plaza</label>
									<select id="idplaza" ng-change="$ctrl.cambioPlaza()" class="form-control" ng-model="$ctrl.selectedPlaza" ng-options="v.razon_social for v in $ctrl.plazas track by v.id_compania"></select>
								</div>
								<div class="col-md-4">
									<strong style="padding-left:15px;">Ver por Status</strong><br>
									<div class="col-md-12">
										<div class="col-md-6">
											<label class="radio-inline radio-styled">
                                                <input type="radio" name="inlineRadioOptions" ng-value="1" ng-model="$ctrl.status" ng-change="$ctrl.buscarStatus()"><span>Pendientes</span>
                                            </label>
										</div>
										<div class="col-md-6">
											<label class="radio-inline radio-styled">
                                                <input type="radio" name="inlineRadioOptions" ng-value="2" ng-model="$ctrl.status" ng-change="$ctrl.buscarStatus()"><span>Ejecutadas</span>
                                            </label>
										</div>
									</div>
									<div class="col-md-12">
										<div class="col-md-6">
											<label class="radio-inline radio-styled">
                                                <input type="radio" name="inlineRadioOptions" ng-value="3" ng-model="$ctrl.status" ng-change="$ctrl.buscarStatus()"><span>Con vista</span>
                                            </label>
										</div>
										<div class="col-md-6">
											<label class="checkbox-inline checkbox-styled">
                                                <input type="checkbox" name="inlineRadioOptions" ng-value="1" ng-model="$ctrl.auto"><span>Proceso Automático</span>
                                            </label>
										</div>
									</div>
								</div>
							</uib-tab>

							<uib-tab index="1" heading="Contrato">
								<br/>
								<div class="row">
									<div class="col-md-4 form-group">
										<label># Orden</label>
										<input type="number" class="form-control" step="1" min="0" ng-model="$ctrl.orden" ng-change="$ctrl.cambioReporte(1)" placeholder="Orden">
									</div>
									<div class="col-md-4 form-group">
										<label>Contrato</label>
										<input type="text" class="form-control" ng-model="$ctrl.contrato" ng-change="$ctrl.cambioReporte(2)" placeholder="Contrato">
									</div>
								</div>
								<br/>
								<br/>
								<br/>
								<div class="note">
									<strong>El número de contrato</strong> está formado por 2 grupos de números con un guión intermedio p.e. (1234-1)
								</div>
								<footer>
									<p class="text-right">
										<button class="btn btn-sm btn-info" ng-click="$ctrl.buscarOrden()"><i class="fa fa-search"></i> Buscar</button>
									</p>
								</footer>
							</uib-tab>

							<uib-tab index="2" heading="Dirección">
								<br/>
								<form ng-submit="$ctrl.buscarColonia()">
									<div class="row">
										<div class="col-md-5 form-group">
											<label>Colonia</label>
											<select class="form-control" ng-model="$ctrl.selectedColonia" ng-options="v.nombre for v in $ctrl.colonias|orderBy:'nombre' track by v.clvColonia">
 												<option value="">Seleccione</option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5 form-group">
											<label>Calle</label>
											<input type="text" class="form-control" ng-model="$ctrl.calle">
										</div>
									</div>
									<div class="row">
										<div class="col-md-5 form-group">
											<label>Número</label>
											<input type="text" class="form-control" ng-model="$ctrl.numero">
										</div>
									</div>
									<footer>
										<p class="text-right">
											<button type="submit" class="btn btn-sm btn-info">
	 											 <i class="fa fa-search"></i> Buscar
	 											 </button>
										</p>
									</footer>
								</form>
							</uib-tab>
							<uib-tab index="3" heading="Nombre">
								<br/>
								<form ng-submit="$ctrl.buscarNombres()">
									<div class="row">
										<div class="col-md-7 form-group">
											<label>Nombre</label>
											<input type="text" class="form-control" ng-model="$ctrl.nombre">
										</div>
									</div>
									<div class="row">
										<div class="col-md-5 form-group">
											<label>Apellido Paterno</label>
											<input type="text" class="form-control" ng-model="$ctrl.paterno">
										</div>
									</div>
									<div class="row">
										<div class="col-md-5 form-group">
											<label>Apellido Materno</label>
											<input type="text" class="form-control" ng-model="$ctrl.materno">
										</div>
									</div>
									<footer>
										<p class="text-right">
											<button type="submit" class="btn btn-sm btn-info">
	 											 <i class="fa fa-search"></i> Buscar
	 											 </button>
										</p>
									</footer>
								</form>
							</uib-tab>
							<uib-tab index="4" heading="Setup box">
								<br>
								<form ng-submit="$ctrl.buscarSetup()">
									<div class="row">
										<div class="col-md-5 form-group">
											<label>Set Up Box</label>
											<input type="text" class="form-control" ng-model="$ctrl.setupbox">
										</div>
									</div>
									<footer>
										<p class="text-right">
											<button type="submit" class="btn btn-sm btn-info"><i class="fa fa-search"></i> Buscar</button>
										</p>
									</footer>
								</form>
							</uib-tab>
						</uib-tabset>
					</div>
					<!-- panel body -->
				</div>
			</div>
			<!--end .panel -->
		</div>


		<div class="col-md-12">
			<div class="col-md-12" style="padding-left: 25px; padding-right: 25px;">
				<p class="text-right" style="margin-top: 10px;">
					<!-- <a class="btn btn-success" ui-sref="home.procesos.atencionNueva"><i class="fa fa-plus" aria-hidden="true"></i> NUEVO</a> -->
				</p>
				<table class="table">
					<thead>
						<tr>
							<th>#Orden</th>
							<th>Status</th>
							<th>Contrato</th>
							<th>Nombre</th>
							<th>Calle</th>
							<th>Numero</th>
							<th>Acción</th>
							<th>Ejecutar</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="$ctrl.sinRegistros">
							<td class="text-center" colspan="9">SIN REGISTROS</td>
						</tr>
						<tr dir-paginate="x in $ctrl.ordenes|itemsPerPage:7" ng-show="$ctrl.conRegistros">
							<td>{{ x.Clv_Orden }}</td>
							<td>{{ x.STATUS }}</td>
							<td>{{ x.Contrato }}</td>
							<td>{{ x.Nombre }} {{ x.Apellido_Paterno }} {{ x.Apellido_Materno }}</td>
							<td>{{ x.CALLE }}</td>
							<td>#{{ x.NUMERO}}</td>
							<td>
								<button class="btn ink-reaction btn-floating-action btn-xs btn-info" ng-click="$ctrl.seleccionar(2,'consultar')"><i class="fa fa-eye"></i></button>
								<button class="btn ink-reaction btn-floating-action btn-xs btn-warning" ng-click="$ctrl.seleccionar(3,'ejecutar')"><i class="fa fa-pencil-square-o"></i></button>
							</td>
							<td>
								<a ng-click="$ctrl.EjecutaQueja(x.Clv_Queja,x.Contrato,x.Clv_TipSer)" class="btn ink-reaction btn-xs btn-success"><i class="md md-launch"></i> Ejecutar</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.ordenes.length > 0">
					</dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>