<style type="text/css">
	.scrollDiv{
	    height: 500px;
	    overflow: auto;
	    overflow-x: hidden;
	}
</style>
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center" style="color: #0aa89e; margin-top:5px;">Nueva Orden de Servicio</h3>
        <h3 style="color: #0aa89e;"><a ui-sref="home.procesos.ordenes"><i class="fa fa-chevron-left"></i> Atras</a></h3>
    </div>
    <div class="col-md-12 card panel"  style="padding-top:15px;">
        <div class="col-md-4">
            <strong>Tipo de Servicios:</strong><br>
            <div class="col-md-8 form-group">
                <strong class="text-muted">Orden:</strong>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-8 form-group">
                <strong class="text-muted">Contrato:</strong>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <strong class="text-muted">No. Folio de la Bitacora:</strong>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
