<div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="$ctrl.cancel()">×</button>
    <h4 class="modal-title">Seleccione el Servicio al Cliente</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="col-sm-3 control-label text-right">Tipo de servicios:</label>
                <div class="col-sm-8">
                    <select name="servicio" class="form-control" ng-change="$ctrl.changeTrabajo()" ng-model="$ctrl.selectedServicio" ng-options="x.Concepto for x in $ctrl.dimeServ track by x.clv_tipser" required>
                        <option value="" disabled selected>Seleccione tipo de servicio</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-3 control-label text-right">Trabajo:</label>
                <div class="col-sm-8">
                    <select name="servicio" class="form-control" ng-change="$ctrl.pantallasExtras()" ng-model="$ctrl.selectedTrabajo" ng-options="x.Descripcion for x in $ctrl.tipoTrabajo track by x.Clv_Trabajo" required>
                        <option value="" disabled selected>Seleccione tipo de trabajo</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-3 control-label text-right">Observaciones:</label>
                <div class="col-sm-8">
                    <textarea row="3" class="form-control" style="font-size:12px;"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-6 col-md-offset-2 checkbox-inline checkbox-styled">
                    <input type="checkbox" name="inlineRadioOptions" ng-value="2" ng-model="$ctrl.realizar"><span>¿Se realizó el trabajo?</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.abrir($ctrl.selectedTrabajo.Clv_Trabajo)">Aceptar</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
</div>
