<div class="col-md-12" style="background-color:white; height:100vh;">
	<div class="col-md-6 col-md-offset-3">
		<form class="form text-center">
	        <img src="images/logo.png" style="padding-left: 10px; width:300px; height:300px;" />
	 		<h2 style="margin-top: -30px;">SOFTV WEB</h2>
	 		<div class="col-md-6 col-md-offset-3">
	 			<input type="text" placeholder="Usuario" class="form-control">
		        <input type="password" placeholder="Contraseña" class="form-control">
		        <br />
		        <button type="submit" class="btn ink-reaction btn-lg btn-primary btn-block"> <i class="fa fa-sign-in" aria-hidden="true"></i> Accesar</button>
	 		</div>
	    </form>
	</div>
</div>
