<div style="background-color:white; height:100vh;">
	<div class="col-md-6 col-md-offset-3 text-center">
	        <img src="images/logo.png" style="padding-left: 10px; width:300px; height:300px;" />
	 		<h2 style="margin-top: -30px;">SOFTV WEB</h2>
	 		<div class="col-md-6 col-md-offset-3">
				<form class="form text-center" name="userForm">
					<div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
				      <label>Usuario</label>
				      <input type="text" name="name" class="form-control"
				        ng-model="$ctrl.login.name"
				        required>
				    </div>
				    <div class="form-group" ng-class="{ 'has-error': userForm.pass.$touched && userForm.pass.$invalid }">
				      <label>Contraseña</label>
				      <input type="password" name="pass" class="form-control"
				        ng-model="$ctrl.login.password"
				        required>
				    </div>
				    <div class="form-group">
				      <button type="submit" class="btn ink-reaction btn-lg btn-primary btn-block"> <i class="fa fa-sign-in" aria-hidden="true"></i> Accesar</button>
				    </div>
				</form>
			</div>
	</div>
</div>
