<div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
    <a href="" ng-click="ctrl.printDiv()" style="color:#2196f3;"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</a>
</div>
<div class="modal-body" style="padding-top:20px;">
	<div class="row">
		<div class="col-md-12">
			<label for="textinput">Cuenta Clabe</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
	  		<input type="text" class="form-control input-md" ng-model="ctrl.Clabe" disabled="">
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
</div>
