<div class="modal-header alert-warning">
    <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
    <h4>¡Información Importante!</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
	<div class="row">
		<div class="col-md-12">
			<h4>{{ ctrl.pregunta }}</h4>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.ok()">Aceptar</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()" ng-show="ctrl.showGracias">¡No Gracias!</button>
</div>
