<form class="form-horizontal" role="form">
<div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="$ctrl.cancel()">×</button>
    <h4 class="modal-title text-center" style="color: #0aa89e; margin-top:5px;">{{$ctrl.titulo}}</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
    <div class="panel" ng-show="$ctrl.showModal">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <div class="form-group">
            <label class="col-lg-4 control-label">Clave Entrega:</label>
            <div class="col-lg-8">
              <input style="font-size: 13px;" type="text" class="form-control input-sm" required="" ng-model="$ctrl.clave" ng-disabled="$ctrl.showClave">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Fecha:</label>
            <div class="col-lg-8">
              <input style="font-size: 13px;" type="text" class="form-control input-sm" required="" ng-model="$ctrl.fecha" ng-disabled="$ctrl.showFecha">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Cajero(a):</label>
            <div class="col-lg-8">
              <select class="form-control input-sm"
                  ng-model="$ctrl.selectedCajero"
                  ng-disabled="$ctrl.showCajero">
                  <option>{{$ctrl.selectedCajero}}</option>
                </select>
            </div>
          </div>
      </div>
      <div class="col-md-4"></div><br>
    </div>
    <div class="row">
      <h5 ng-show="$ctrl.showNota" class="text-center" style="margin-top:30px;">NOTA: Al Capturar el Desglose debe Complementar el Efectivo del Saldo Anterior</h5>
    </div>
    <div class="row">
      <!--billetesInicio-->
      <div class="col-md-4" align="center">
        <h4>Billetes:</h4>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>B1000:</strong></label>
            <div class="col-sm-4 ">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.b1000" ng-disabled="$ctrl.showb1000" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.b1000 * 1000" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>B500:</strong></label>
            <div class="col-sm-4 ">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.b500" ng-disabled="$ctrl.showb500" ng-change="$ctrl.changeImportes()">
            </div><div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.b500 * 500" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>B200:</strong></label>
            <div class="col-sm-4 ">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.b200" ng-disabled="$ctrl.showb200" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.b200 * 200" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>B100:</strong></label>
            <div class="col-sm-4 ">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.b100" ng-disabled="$ctrl.showb100" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.b100 * 100" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>B50:</strong></label>
            <div class="col-sm-4 ">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.b50" ng-disabled="$ctrl.showb50" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.b50 * 50" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>B20:</strong></label>
            <div class="col-sm-4 ">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.b20" ng-disabled="$ctrl.showb20" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.b20 * 20" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label"></label>
            <div class="col-sm-4 ">
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control input-sm" placeholder="{{$ctrl.billetes | currency}}" ng-value="$ctrl.importeBillete | currency" disabled>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-sm-6 control-label"><strong>Cheques:</strong></label>
            <div class="col-sm-6">
              <input type="number" class="form-control input-sm" min="0" step="any" ng-model="$ctrl.desglose.cheques" ng-disabled="$ctrl.showCheques" ng-change="$ctrl.changeImportes()">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label"><strong>Transferencia:</strong></label>
            <div class="col-sm-6">
              <input type="number" class="form-control input-sm" min="0" step="any" ng-model="$ctrl.desglose.transferencia" ng-disabled="$ctrl.showTransferencia" ng-change="$ctrl.changeImportes()">
            </div>
          </div>
          <div class="col-md-12" ng-show="$ctrl.showNota2">
              <span style="font-size: 10px;">Los decimales en "CHEQUES Y TRANSFERENCIA" coloque una coma (,) en lugar del punto (.).</span>
          </div>
      </div>
      <!--billetesFin-->
      <!--monedasInicio-->
      <div class="col-md-4" align="center">
        <h4>Monedas:</h4>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>M100:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.m100" ng-disabled="$ctrl.showm100" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.m100 * 100" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>M50:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.m50" ng-disabled="$ctrl.showm50" ng-change="$ctrl.changeImportes()">
            </div><div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.m50 * 50" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>M20:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.m20" ng-disabled="$ctrl.showm20" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.m20 * 20" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>M10:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.m10" ng-disabled="$ctrl.showm10" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.m10 * 10" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>M5:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.m5" ng-disabled="$ctrl.showm50" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.m5 * 5" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>M2:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.m2" ng-disabled="$ctrl.showm2" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.m2 * 2" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>M1:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.m1" ng-disabled="$ctrl.showm1" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.m1 * 1" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>M050:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.m050" ng-disabled="$ctrl.showm050" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.m050 * 0.50" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>M020:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.m020" ng-disabled="$ctrl.showm020" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.m020 * 0.20" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>M010:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.m010" ng-disabled="$ctrl.showm010" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.m010 * 0.10" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" style="font-size: 11px;"><strong>M005:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" ng-model="$ctrl.desglose.m005" ng-disabled="$ctrl.showm005" ng-change="$ctrl.changeImportes()">
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-value="$ctrl.desglose.m005 * 0.05" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label"></label>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control input-sm" placeholder="{{$ctrl.monedas | currency}}" ng-value="$ctrl.importeMoneda | currency" disabled>
            </div>
          </div>
      </div><!--monedasFin-->
      <!--dolaresInicio-->
      <div class="col-md-4" align="center">
        <h4>Dólares:</h4>
          <div class="form-group">
            <label class="col-sm-6 control-label"><strong>Importe en Dólares:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" step="any" ng-model="$ctrl.desglose.dolares" ng-disabled="$ctrl.showImporte" ng-change="$ctrl.changeImportes()">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label"><strong>Tipo de Cambio:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" min="0" step="any" ng-model="$ctrl.desglose.cambio" ng-disabled="$ctrl.showCambio" ng-change="$ctrl.changeImportes()">
            </div>
          </div>
          <div class="col-md-12" ng-show="$ctrl.showNota2">
              <span style="font-size: 10px;">Los decimales en "IMPORTE DÓLARES Y TIPO DE CAMBIO" coloque una coma (,) en lugar del punto (.).</span>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label"><strong>Conversión a Pesos:</strong></label>
            <div class="col-sm-4">
              <input type="text" class="form-control input-sm" ng-model="$ctrl.desglose.conversion" ng-disabled="$ctrl.showConversion">
            </div>
          </div>
          <br><br>
          <h4>Otros:</h4>
          <div class="form-group">
            <label class="col-sm-6 control-label"><strong>Gastos:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-model="$ctrl.desglose.gastos" ng-disabled="$ctrl.showGastos" placeholder=".00">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label"><strong>Saldo Anterior:</strong></label>
            <div class="col-sm-4">
              <input type="number" class="form-control input-sm" ng-model="$ctrl.desglose.saldoAnterior" ng-disabled="$ctrl.showSaldoAnterior" placeholder=".00">
            </div>
          </div>
          <br><br>
          <div class="form-group">
            <label class="col-sm-6 control-label"><strong>Gran Total:</strong></label>
            <div class="col-sm-4">
              <input type="text" class="form-control input-sm" ng-model="$ctrl.granTotal" ng-disabled="$ctrl.showGranTotal">
            </div>
          </div>
      </div>
      <!--dolaresFin-->
    </div><!--finRow-->
    <div class="row">
      <div class="form-group col-md-4">
        <label class="col-sm-4 control-label"><strong>Total en pesos:</strong></label>
        <div class="col-sm-8">
          <input type="text" class="form-control input-sm" ng-value="$ctrl.total" ng-disabled="$ctrl.showTotal">
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="$ctrl.showReporte">
    <div style="padding-left:10px; padding-right: 10px;">
        <iframe  id="reporteID" style="width: 100%; height: 800px;"></iframe>
    </div>
  </div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
  <button class="btn btn-primary" type="submit" ng-click="$ctrl.guardarDesglose()" ng-show="$ctrl.showGuardar">Guardar</button>
</div>
</form>
