<div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
    <h4 class="modal-title">Pagos Adelantados</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
			  <label class="col-md-5 control-label" for="">No. Meses a Pagar</label>
			  <div class="col-md-6">
			  	<input type="number" class="form-control input-md" ng-model="ctrl.mesesPagar" ng-change="ctrl.mesesChange()">
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
    <button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.ok()">Aceptar</button>
</div>
