<style>
  /**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
  
  .simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
  }
  /**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
  
  .simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
  }
  /**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
  
  .simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
  }
  
  .simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
  }
  /**
 * Show selected elements in green
 */
  
  .simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
  }
</style>
<div class="modal-header">
  <button type="button" class="close" ng-click="$ctrl.cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title" id="modal-title">Contratos Ligados</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <input type="file" id="inputFile2" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        <button class="btn btn-info btn-xs" ng-click="$ctrl.ValidaArchivo();">Validar contratos</button>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"><button class="btn btn-success btn-xs" ng-click="$ctrl.clientesModal()"><i class="fa fa-plus" aria-hidden="true"></i> Añadir</button></div>

    </div>
    <div class="col-md-12" style="overflow-y:scroll; max-height:350px;">
      <!--<table class="table table-striped">
        <thead>
          <tr>
            <td>Contrato</td>
            <td>Cliente</td>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="x in $ctrl.contratos">
            <td>{{ x.CONTRATO }}</td>
            <td>{{ x.Nombre }} {{ x.Apellido_Paterno }} {{ x.Apellido_Materno }}</td>
            <td><button class="btn ink-reaction btn-floating-action btn-xs btn-danger" ng-click="$ctrl.eliminarContrato($index)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
        </tbody>

      </table>-->
      <br>
      <ul dnd-list="$ctrl.contratos" class="list-group">
        <li ng-repeat="item in $ctrl.contratos" dnd-draggable="item" dnd-moved="$ctrl.contratos.splice($index, 1)" dnd-effect-allowed="move"
          dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}" class="list-group-item">
          <span class="badge" style="background-color:#d9534f">{{$index + 1}}</span><p><span class="badge">{{item.CONTRATO}}</span> {{ item.Nombre }} {{ item.Apellido_Paterno }} {{ item.Apellido_Materno
          }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-sm" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
  <button class="btn btn-primary btn-sm" type="button" ng-show="$ctrl.showokbtn" ng-click="$ctrl.ok()">Aceptar</button>
  <button class="btn btn-primary btn-sm" type="button" ng-show="$ctrl.showeditbtn" ng-click="$ctrl.edit()">Editar</button>
</div>