<div class="row" style="margin-top:10px;">

  <div class="card" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">Contratos Maestros</strong>
        <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Facturación Corporativa>Contratos Maestros</small>
      </header>
      <div class="tools">
        <button class="btn btn-primary btn-sm" type="button" ui-sref="home.corporativa.maestroNuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <div class="row card">

            <div class="card-body">
              <uib-tabset active="active" class=".tabs-default-dark">
                <uib-tab index="0">
                  <uib-tab-heading>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contrato
                  </uib-tab-heading>
                  <div class="col-md-12 form-group">
                    <div class="col-md-8">
                      <b>Nombre Comercial :</b><br>
                      <input type="text" class="form-control" ng-model="$ctrl.NombreComer">
                    </div>
                    <div class="col-md-4">
                      <br>
                      <button class="btn btn-info btn-xs" ng-click="$ctrl.BuscarNombrec();"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                    <div class="col-md-8">
                      <b>Razón social :</b><br>
                      <input type="text" class="form-control" ng-model="$ctrl.RazonS">
                    </div>
                    <div class="col-md-4">
                      <br>
                      <button class="btn btn-info btn-xs" ng-click="$ctrl.BuscarRazonS();"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                    <div class="col-md-12">
                      <b>Distribuidor:</b>
                      <select ng-model="$ctrl.Distribuidor" ng-change="$ctrl.ObtenerCiudades($ctrl.Distribuidor);" class="form-control input-sm" ng-options="item as item.Nombre for item in $ctrl.Distribuidores track by item.Clv_Plaza">
                          <option value="">Selecciona</option>
                      </select>
                    </div>
                    <div class="col-md-12">
                      <b>Ciudad:</b>
                      <select ng-model="$ctrl.Ciudad" class="form-control input-sm" ng-options="item as item.Nombre for item in $ctrl.Ciudades track by item.Clv_Ciudad">
                           <option value="">Selecciona</option>
                      </select>
                    </div>
                    <div class="col-md-12">
                      <br>
                      <button class="btn btn-info btn-xs" ng-click="$ctrl.BuscarCiudad();"><i class="fa fa-search"></i> Buscar</button>
                    </div>

                  </div>

                </uib-tab>


              </uib-tabset>
            </div>
          </div>

        </div>
        <div class="col-md-9">
          <div class="row">


            <div class="col-md-12" style="padding-left: 25px; padding-right: 25px;">
              <p class="text-right" style="margin-top: 10px;">

              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th>#contrato</th>
                    <th>Razón social</th>
                    <th>RFC</th>
                    <th>Nombre Comercial</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr dir-paginate="x in $ctrl.Contratos|orderBy:$ctrl.sortKey:reverse|filter:$ctrl.search|itemsPerPage:5">
                    <td>{{x.IdContratoMaestro}}</td>
                    <td>{{x.RazonSocial}}</td>
                    <td>{{x.RFC}}</td>

                    <td>{{x.NombreComercial}}</td>
                    <td><button class="btn ink-reaction btn-floating-action btn-xs btn-info" ng-click="$ctrl.DetalleContrato(x);"><i class="fa fa-eye"></i></button> <button class="btn ink-reaction btn-floating-action btn-xs btn-warning" ng-click="$ctrl.editarEntrada(x.Consecutivo)"><i class="fa fa-edit"></i></button>
                      <button class="btn ink-reaction btn-floating-action btn-xs btn-danger" ng-click="$ctrl.eliminarEntrada(x.Consecutivo)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                  </tr>
                </tbody>
              </table>
              <div style="padding-left: 20px;">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
              </div>
            </div>



          </div>

        </div>
      </div>





    </div>

  </div>

</div>
