<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
  <h4 class="modal-title">Detalle Contrato #</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
  <div class="row form-group">
    <div class="col-md-12">
      <b>Razón Social</b>
    </div>
    <div class="col-md-12">
      <b>Nombre comercial:</b>

    </div>
    <div class="col-md-8">
      <b>Distribuidor:</b>

    </div>
    <div class="col-md-4">
      <b>RFC:</b>

    </div>
  </div>
  <br>
  <div class="row form-group">
    <div class="col-md-12">
      <b>Domicilio Fiscal:</b>

    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <b>Días de crédito:</b>

    </div>
    <div class="col-md-4">
      <b>Días de gracia:</b>

    </div>
    <div class="col-md-4">
      <b>Limite de Crédito:</b>

    </div>
    <div class="col-md-4">
      <b>Tipo de pago:</b>

    </div>
    <div class="col-md-4">
      <b>Forma de pago de pago:</b>

    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12">
      <b>Contratos Asignados</b>
      <table class="table">
        <thead>
          <th>Contrato</th>
          <th>Direccíon</th>
          <th>Servicio</th>
          <th>Estatus</th>
        </thead>

      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
  <button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.ok()">Aceptar</button>
</div>
