
<div class="modal-header alert-danger">
  <button class="close" aria-label="Close" type="button" ng-click="$ctrl.cancel()">×</button>
  

<h4 class="modal-title"><i class="fa fa-thumb-tack"></i> {{$ctrl.titulo}}</h4>
</div>
<div class="modal-body">

<b style="font-size: 14px;" class="text-danger">{{$ctrl.pregunta}}</b>



</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="$ctrl.ok()">Confirmar</button>
  <button class="btn btn-default btn-sm" type="button" ng-click="$ctrl.cancel()">cerrar</button>
</div>
