<div class="modal-header">
  <button class="close" aria-label="Close" type="button">×</button>
  <h4 class="modal-title"><i class="fa fa-thumb-tack"></i> Atención</h4>
</div>
<div class="modal-body text-center" style="padding-top:20px;">
  <b><h3>¿Este contrato se le cobrará proporcional?</h3></b>
</div>
<div class="modal-footer">
  <button class="btn btn-danger btn-sm" type="button" ng-click="$ctrl.cancel()">No</button>
  <button class="btn btn-success btn-sm" type="button" ng-click="$ctrl.ok()">si</button>
</div>
