<div class="card" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Nuevo Contrato Maestro</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Facturación Corporativa>Nuevo Contrato Maestro</small>
    </header>
    <div class="tools">
      <button class="btn btn-default btn-sm" type="button" ui-sref="home.facturacion.desglose">Cancelar</button>
      <button class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.guardarDesglose()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-9">
          <label class="col-md-3 control-label">Razón Social:</label>
          <div class="col-md-9" style="padding-left:-10px;">
            <input type="text" class="form-control input-sm" required="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <label class="col-md-3 control-label">Nombre Comercial:</label>
          <div class="col-md-9" style="padding-left:-10px;">
            <input type="text" class="form-control input-sm" required="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <label class="col-md-3 control-label">Distribuidor:</label>
          <div class="col-md-7" style="padding-left:-10px;">
            <select class="form-control"></select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
