<div class="modal-body">
    <button class="close" aria-label="Close" type="button" ng-click="$ctrl.cancel()">×</button>
   	<form class="form-horizontal">
		<h5><strong>Importe total a pagar: {{ $ctrl.monto | currency : "$" : 4 }}</strong></h4>
		<!-- Text input-->
		<div class="form-group">
			<br>
		 	<div class="row">
		 		<label class="col-md-5 control-label" for="">Medio de Pago</label>
			    <div class="col-md-5" >
			      <select class="form-control input-sm" ng-model="$ctrl.selectedMedio" ng-options="v.Nombre for v in $ctrl.medios track by v.IdMedioPago">
			      </select>
			    </div>
		 	</div>
		</div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
    <button class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.ok()">Aceptar</button>
</div>
