<style>
  .body {
    font-size: 10px;
  }

  .table>thead>tr>th,
  .table>tbody>tr>th,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>tbody>tr>td,
  .table>tfoot>tr>td {
    padding: 7px 8px;
    line-height: 1.846153846;
    vertical-align: top;
    border-top: 1px solid rgba(189, 193, 193, 0.2);
  }
</style>

<div class="row animated fadeIn" style="margin-top:10px;">
  <div class="card" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px; font-size: 16px;">Pólizas de Ventas</strong>
        <br />
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
          <i class="fa fa-home" aria-hidden="true"></i> Pólizas>Pólizas de Ventas</small>
      </header>
      <div class="tools">
        <button class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.NuevaPoliza();" permission permission-only="'contratomaestroAdd'">
          <i class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
      </div>
    </div>

    <div class="card-body">
      <div class="panel-group" id="accordion3">
        <div class="card panel">
          <div class="card-head card-head-xs style-primary-light collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1"
            aria-expanded="false">
            <header>
              <i class="fa fa-search"></i> Buscar Póliza</header>
            <div class="tools">
              <a class="btn btn-icon-toggle">
                <i class="fa fa-angle-down"></i>
              </a>
            </div>
          </div>
          <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <div class="row">
                <!--<div class="col-md-3">
                  <p>Distribuidor:</p>
                  <select ng-model="$ctrl.Distribuidor" class="form-control input-sm" ng-options="item as item.Nombre for item in $ctrl.Distribuidores track by item.Clv_Plaza">
                    <option value="">Selecciona</option>
                  </select>
                </div>
                 <div class="col-md-1">
                  <button class="btn btn-info btn-xs" ng-click="$ctrl.BuscaPoliza(2);"><i class="fa fa-search"></i> Buscar</button>
                </div>-->
                <div class="col-md-3">
                  <p>Fecha Póliza:</p>
                  <input type="date" ng-model="$ctrl.Fecha" class="form-control input-sm" ng-keypress="$ctrl.enterContrato($event, 1)">

                </div>
                <div class="col-md-1">
                  <button class="btn btn-info btn-xs" ng-click="$ctrl.BuscaPoliza(1);">
                    <i class="fa fa-search"></i> Buscar</button>
                </div>
                <div class="col-md-1">
                  <label class="col-md-3 control-label blod">Dólares:</label>
                </div>
                <div class="col-md-1">
                  <label class="text-left checkbox-inline checkbox-styled" style="margin-left:15px">
                    <input type="checkbox" name="Dolares" ng-model="$ctrl.Dolares">
                    <span></span>
                  </label>
                </div>
                <div class="col-md-1">
                  <button class="btn btn-info btn-xs" ng-click="$ctrl.BuscaPoliza(2);">
                    <i class="fa fa-search"></i> Buscar</button>
                </div>
                <!--<div class="col-md-3">
                  <p>Contrato Maestro:</p>
                  <input type="text" ng-model="$ctrl.ContratoMaestro" class="form-control input-sm">
                </div>
                <div class="col-md-1">
                  <button class="btn btn-info btn-xs" ng-click="$ctrl.BuscaPoliza(2);">
                    <i class="fa fa-search"></i> Buscar</button>
                </div>-->
              </div>
            </div>
          </div>
          <!-- panel body -->
        </div>
      </div>
      <!--end .panel -->

      <div class="col-md-8 table-responsive" ng-if="$ctrl.Detalle === 0">
        <table class="table">
          <thead>
            <tr>
              <th># Póliza</th>
              <!--<th>Contrato Maestro</th>
              <th>Nombre Comercial</th>-->
              <th>Fecha de Generación</th>
              <th>Fecha de Póliza</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <tr ng-show="$ctrl.Polizas.length>0" dir-paginate="x in $ctrl.Polizas|orderBy:$ctrl.sortKey:reverse|filter:$ctrl.search|itemsPerPage:8">
              <td>{{x.Clv_Poliza}}</td>
              <!--<td>{{x.ContratoMaestro}}</td>
              <td>{{x.Nombre}}</td>-->
              <td>{{x.FechaGeneracion}}</td>
              <td>{{x.FechaPoliza}}</td>
              <td>{{x.Nombre}}</td>
              <td>
                <button class="btn ink-reaction btn-floating-action btn-xs btn-info" ui-sref="home.corporativa.polizasConsulta({id:x.Clv_Poliza})">
                  <i class="fa fa-eye"></i>
                </button>
                <button class="btn ink-reaction btn-floating-action btn-xs btn-warning" ng-click="$ctrl.EliminaPoliza(x.Clv_Poliza);">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="padding-left: 20px;">
          <dir-pagination-controls max-size="8" direction-links="true" boundary-links="true">
          </dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>

</div>

</div>