<style type="text/css">
	.scrollDiv {
		height: 450px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Cancelación y Reimpresión de Tickets</strong>
			<br /><small class="text-muted" style="font-size:14px; margin-left:10px;"><i class="fa fa-home" aria-hidden="true"></i> Facturación Corporativa>Tickets</small>

		</header>
	</div>
	<div class="card-body">
    <div class="card-body">
            <div class="panel-group" id="accordion3">
                <div class="card panel">
                    <div class="card-head card-head-xs style-primary-light collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1"
                        aria-expanded="false">
                        <header><i class="fa fa-search"></i> Buscar ticket</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                    <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            
                                    <div class="row">
                                        <br/>
                                        <div class="col-md-3">
                                          <div class="col-md-6">
                                       <input type="number" class="form-control input-sm" placeholder="serie" ng-model="$ctrl.serie">
										  </div>
										  <div class="col-md-6">

											  <input type="number" class="form-control input-sm" placeholder="Folio" ng-model="$ctrl.folio">
										  </div>
                                            
                                        </div>
                                        <div class="col-md-1">
                                           
                                            <button class="btn btn-info btn-xs" ng-click="$ctrl.Buscar(2);"><i class="fa fa-search"></i> Buscar</button>
                                        </div>

                                        <div class="col-md-1">
                                          
                                            <input type="number" placeholder="Contrato" class="form-control input-sm" ng-model="$ctrl.contrato">
                                        </div>
                                        <div class="col-md-1">
                                          
                                            <button class="btn btn-info btn-xs" ng-click="$ctrl.Buscar(3);"><i class="fa fa-search"></i> Buscar</button>
                                        </div>

                                        <div class="col-md-2">                                            
                                            <input type="text" class="form-control input-sm" placeholder="nombre" ng-model="$ctrl.cliente">
                                        </div>
                                        <div class="col-md-1">
                                        
                                            <button class="btn btn-info btn-xs" ng-click="$ctrl.Buscar(4);"><i class="fa fa-search"></i> Buscar</button>
                                        </div>
										<div class="col-md-2">
											<input type="date" class="form-control input-sm" ng-model="$ctrl.fecha" >
										</div>
										<div class="col-md-1">
  <button class="btn btn-info btn-xs" ng-click="$ctrl.Buscar(1);"><i class="fa fa-search"></i> Buscar</button>

										</div>
                                    </div>
                               




                        </div>
                    </div>
                    <!-- panel body -->
                </div>
            </div>
            <!--end .panel -->
        </div>


		</div>
		
</div>
</div>
