<style media="screen">
	html, body {
	  height: 100%;
	  background-color: white;
	}

  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

.page-row-expanded { height: 100%; }
</style>

<section class="section-account">
	<div class="card contain-xs style-transparent">
		<div class="card-body">
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="images/logo.png" style="margin-top:-20px;" width="350">
					<h2 style="margin-top:-80px;"><span class="text-xxxl text-light">SOFTV WEB</span></h2>
					<h4 class="text-light">Necesitas un token para acceder al sistema,
						 <strong>ponte en contacto con el administrador del sistema.</strong>
					 </h4>
				</div><!--end .col -->
			</div><!--end .row -->
		</div><!--end .card-body -->
	</div><!--end .card -->
</section>
<footer class="footer">
  <div class="container-fluid">
    <div class="copyright pull-right">
     &copy; 2017 <a href="http://softv.mx" target="_blank">SISTEMAS ADMINISTRATIVOS</a>
    </div>
  </div>
</footer>
